/node_modules
/storage/logs
/vendor
/.idea
/.idea/laravelstart.iml
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package.json
readme.md
public/
/public/hot
/public/storage
/public/uploads/
/public/assets/images/profiles
/public/assets/images/profiles/*
/public/assets/eduplaycloud/email
/public/assets/eduplaycloud/image
/public/assets/eduplaycloud/question
public/assets/eduplaycloud/*
/public/assets/eduplaycloud/question/*
/storage/logs
/public/images
public/assets/param
/public/assets/images
/public/assets/param/
.env

*.log
config/lighthouse.php
storage/logs/laravel.log
storage/logs/laravel.log
